.Logo {
  background-color: gray;
  border-radius: 50%;
  opacity: 1;  
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}






.navbar-nav a :nth-of-type(1) {
  border-right: 1px solid white;
}

.navbar-nav {
  margin-bottom: -12px;
  align-self: center;
}

.navbar {
  align-items: center;
  text-transform: uppercase;
  width: 100%;
}

.navbar_brand {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: grey;
  font-weight: 600;
  background-color: black;
  border-bottom: 2px solid white;
}


.navi_Title_Start {
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 10px;
  width: 100%;
  font-weight: 600;
}

.nav-link:hover {
  border-bottom: 4px solid #d2ad36;
}


.nav-link {
  letter-spacing: 1.3px;
  transition: 0.2s;
}

.navi_Title_End {
  text-align: end;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 10px;
  width: 100%;
}

.logo-li  { 
  margin-top: -12px;
  margin-left: 10px;
  margin-right: 10px;
}


@media (max-width: 800px) {
  .logo-li {
text-align: center;
}
}


@media (max-width: 800px) {
  .Logo {
  margin-top: 20px; 
  text-align: center;
  box-shadow: none; 
  }
}

@media (max-width: 800px) {
  .nav-link {
text-align: center;
}
}

@media (max-width: 800px) {
 .nav-link:hover  {
  border-bottom: none;
  }
}


@media (max-width: 800px) {
  .navbar_brand {
    grid-template-columns: 1fr;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .navi_Title_End {
    text-align: center;
    padding: 0 0 10px 0;
  }
}
